* {
    display: block;
    margin: 0;
    padding: 0;
}

body{
    line-height: inherit;

}
.top{
    display: flex;
    flex-flow: column;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    
}
.top{
    background-color: #A49694;
}
.header{
   
    gap: 900px;
}

.header{
    display: flex;
}

.header-logo {
    font-size: 24px;
    padding : 30px;
    margin : 10px;
   
}

.header-logo h1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.links{
   
    gap: 30px;
    margin: 10px;
    padding : 30px;
}
.links{
    display: flex;
}
.links a{
    display: flex;
    text-decoration: none;
    flex-flow: row;
    align-items: center;
    gap: 105px;
    margin: 20px;
    color: Black;
}