@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


* {
    display: block;
    margin: 0;
    padding: 0;
}

body {
    line-height: inherit;

}

.top,
.first,
.middle,
.quote,
.bottom {
    display: flex;
    flex-flow: column;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;

}

.top,
.first {
    background-color: #293241;
}

.header {

    gap: 1300px;
}

.header {
    display: flex;


}

.header-logo {
    font-size: 24px;
    padding: 30px;
    margin: 10px;
    color: #f2e9e4;
}

.header-logo h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.links {

    gap: 30px;
    margin: 5px;
    padding: 20px;
}

.links {
    display: flex;
}

.links a {
    display: flex;
    text-decoration: none;
    flex-flow: row;
    align-items: center;

    width: 50%;
    justify-content: space-around;
    gap: 105px;
    margin: 20px;
    color: #f2e9e4;
    font-size: 20px;
}

.first {
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: 50% 50%;
}


.first-container {
    width: 38%;
    gap: 10px;
    text-align: justify;



}

/* .first-container , .first-placeholder{
    line-height: 1,5;
    flex : 1 1 0;
} */

.first-header {
    font-size: 48px;
    gap: 5px;
    font-weight: bolder;
    color: #FDF0D5;
    margin: 5px;

}

.first-header h1 {
    display: block;
    font-size: 2em;

    font-weight: bold;

}

.first-sub-header {
    font-size: 25px;
    margin-bottom: 15px;
    color: #FDF0D5;
}

.first-sub-header p {

    margin: 20px;
    margin-left: 0px;


}


.first-button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    border: none;
}


.first-button:hover {
    font-size: 18px;
}

.first-placeholder {
    width: 500px;
    height: 500px;
}

.first-placeholder img {
    max-width: 100%;
    height: auto;
    border-radius: 8%;
    margin-top: 20px;
}

.first {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.middle {

    background-color: #EEEEEE;
}


.middle-info {
    text-align: center;
    font-weight: bold;
    font-size: 48px;

}

.image-1 img,
.image-2 img,
.image-3 img,
.image-4 img {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 20px;
    border: 3px solid #066163;
    border-radius: 10px;
    width: 250px;
    height: 200px;

}

.content {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 30px;
    margin: 20px;
    justify-content: space-around;
}

.middle-info {
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 10px;

}

/* .image-1:hover{
    width: 255px;
    height: 205px;

} */

.content p {
    font-size: 20px;
    font-weight: bold;
    color: #066163;
    text-align: center
}

.quote {
    background-color: #293241;
    color: #f2e9e4;

}

.quote p {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Joan', serif;
    text-decoration: italic;
    padding-top: 200px;
    padding-bottom: 30px;
}

.quote h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 800px;
    padding-bottom: 200px;
    font-family: 'Source Code Pro', monospace;
}

.bottom {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
    background-color: #293241;
    border-radius: 10px;
    width: 1200px;
    height: 300px;


}

.box-left {
    color: #f2e9e4;
    display: flex;
    flex-flow: column;
    gap: 4px;
    margin: 40px;
    padding-right: 150px;

}

.box-left h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 43px;

}

.box-left h2 {
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;

}

.box-right {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    border: none;
}

.box-right:hover {
    font-size: 18px;
}

.footer {
    background-color: #293241;
    color: #f2e9e4;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
}